#home {
    background: linear-gradient(-45deg, transparentize($blue, 0.8), transparentize($red, 0.8)) no-repeat, url(../img/home--wp.jpg) no-repeat center center fixed;
    background-size: cover;
}

#home__section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    height: 100vh;
    font-size: 40px;
}