#novedades {
    background: linear-gradient(-45deg, transparentize($blue, 0.8), transparentize($red, 0.8)) no-repeat, url(../img/novedades--wp.jpg) no-repeat center center fixed;
    background-size: cover;
}

#novedades__section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    padding: 2%;
    text-align: center;
    .novedades__titulo {
        font-size: 42px;
        filter: drop-shadow(2px 2px 2px $red) drop-shadow(-2px -2px 2px $blue);
    }
}


@media screen and (max-width: 1024px) {
    
}